* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
  background-color: #131516;
  color:  #d8d4cf;

}

/* Scrollbar Style*/
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(23, 44, 104); 
  border-radius: 5px;
}

h1 {
  text-align: center;
  margin: 20px 0;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.btn {
  width: 200px;
  padding: 15px 20px;
  background-color: rgb(46, 46, 75);
  color: rgb(194, 228, 255);
  font-size: 1rem;
  font-weight: 500;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: .3s all ease-in-out;
}

.btn:hover {
  background-color: rgb(78, 78, 104);
}

.btn-exercise {
  width: 100%;
  min-height: 70px;
}

.exercises {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin: 50px 0;
  padding: 0 50px;
}

.firstChildExercises:first-child { grid-column: 1 / -1; }

@media (max-width: 1024px) {
  .exercises {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 20px;
  }
}

@media (max-width: 698px) {
  .exercises {
    grid-template-columns: repeat(1, 1fr);
  }
}